{# hetzner-1.system.com
IP: 127.0.0.1 MAC: 00:00:00:00:00:00
IP: 127.0.0.2 MAC: 00:00:00:00:00:00
IP: 127.0.0.3 MAC: 00:00:00:00:00:00
#}
{%
set hetzner_1_br0 = {
  '_netmask':               '',
  '_gateway':               '',
  'hetzner-1.system.com':   ''
}
%}
{%
set hetzner_1_vmbr0 = {
  '_netmask':               '',
  'hetzner-1.system.com':   '',
  'salt-prod-1.system.com': '',
}
%}
