{% from '/srv/pillar/ip/system.jinja' import devops_static_ip with context %}
{%
set vars = {
  'Office_And_VPN': {
    'Andru Home':   devops_static_ip['Andru Home'],
    'Andru Guest Home':   devops_static_ip['Andru Guest Home'],
  },
  'Delete_Office_And_VPN': {
  },
  'Backup_Servers': {
  },
  'Delete_Backup_Servers': {
  },
  'All_Servers': {
  },
  'Delete_All_Servers': {
  },
  'VPN_Services': {
  },
  'Delete_VPN_Services': {
  }
}
%}
